# Assessment Review

The topics covered will be:

1. SQL
2. Bayesian Statistics
3. Normal Distributions
4. Statistical Tests

## Part 1: SQL

In [1]:
# Need to import pandas and sqlite3
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')

In [3]:
pd.read_sql(
    """
    SELECT *
    FROM Customer
    LIMIT 3
    """, conn
)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [4]:
pd.read_sql(
    """
    SELECT *
    FROM Invoice
    LIMIT 3
    """, conn
)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94

### Task 1: Write a query to return the customer IDs for every customer in Germany.

In [5]:
#
pd.read_sql(
"""
    SELECT CustomerID
    FROM Customer
    WHERE "Country" = "Germany"

""", conn
)

   CustomerId
0           2
1          36
2          37
3          38

### Task 2: Write a query to return the last names, email addresses and *billing* addresses of the customers who live in Canada.

In [6]:
# 
pd.read_sql(
"""
    SELECT DISTINCT Customer.LastName, Customer.Email, Invoice.BillingAddress
    FROM Invoice
        JOIN Customer
            ON Invoice.CustomerID = Customer.CustomerID
    WHERE Customer.Country = "Canada"


""", conn
)

   LastName                   Email          BillingAddress
0   Philips      mphilips12@shaw.ca          8210 111 ST NW
1      Silk    marthasilk@gmail.com   194A Chain Lake Drive
2  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
3  Peterson     jenniferp@rogers.ca     700 W Pender Street
4     Brown        robbrown@shaw.ca  796 Dundas Street West
5   Francis     edfrancis@yachoo.ca        230 Elgin Street
6  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
7  Tremblay     ftremblay@gmail.com       1498 rue Bélanger

### Task 3: Write a query to return the billing totals by country, in descending order of the totals.

In [7]:
 #

pd.read_sql(
"""
    SELECT BillingCountry, sum(Total) AS sum
    FROM Invoice
    GROUP BY BillingCountry
    ORDER BY sum DESC


""", conn
)

    BillingCountry     sum
0              USA  523.06
1           Canada  303.96
2           France  195.10
3           Brazil  190.10
4          Germany  156.48
5   United Kingdom  112.86
6   Czech Republic   90.24
7         Portugal   77.24
8            India   75.26
9            Chile   46.62
10         Ireland   45.62
11         Hungary   45.62
12         Austria   42.62
13         Finland   41.62
14     Netherlands   40.62
15          Norway   39.62
16          Sweden   38.62
17          Poland   37.62
18           Italy   37.62
19         Denmark   37.62
20       Australia   37.62
21       Argentina   37.62
22           Spain   37.62
23         Belgium   37.62

### ***Task 4: Write a query to return the last names, email addresses, billing addresses, and most recent invoice dates for the customers whose most recent invoice is after Dec 31, 2011.

In [38]:
# 
pd.read_sql(
"""
    
    SELECT Customer.LastName, Customer.Email, Invoice.BillingAddress, max(Invoice.InvoiceDate)
    FROM Invoice
        JOIN Customer
            ON Customer.CustomerID = Invoice.CustomerID
    GROUP BY Customer.CustomerID 
    
    
""", conn
)

,LastName,Email,BillingAddress,max(Invoice.InvoiceDate)
0,Gonçalves,luisg@embraer.com.br,"Av. Brigadeiro Faria Lima, 2170",2013-08-07 00:00:00
1,Köhler,leonekohler@surfeu.de,Theodor-Heuss-Straße 34,2012-07-13 00:00:00
2,Tremblay,ftremblay@gmail.com,1498 rue Bélanger,2013-09-20 00:00:00
3,Hansen,bjorn.hansen@yahoo.no,Ullevålsveien 14,2013-10-03 00:00:00
4,Wichterlová,frantisekw@jetbrains.com,Klanova 9/506,2013-05-06 00:00:00
5,Holý,hholy@gmail.com,Rilská 3174/6,2013-11-13 00:00:00
6,Gruber,astrid.gruber@apple.at,"Rotenturmstraße 4, 1010 Innere Stadt",2013-06-19 00:00:00
7,Peeters,daan_peeters@apple.be,Grétrystraat 63,2013-10-04 00:00:00
8,Nielsen,kara.nielsen@jubii.dk,Sønder Boulevard 51,2013-02-02 00:00:00
9,Martins,eduardo@woodstock.com.br,"Rua Dr. Falcão Filho, 155",2013-08-12 00:00:00
10,Rocha,alero@uol.com.br,"Av. Paulista, 2022",2013-03-18 00:00:00
11,Almeida,roberto.almeida@riotur.gov.br,"Praça Pio X, 119",2013-10-05 00:00:00
12,Ramos,fernadaramos4@uol.com.br,Qe 7 Bloco G,2012-11-01 00:00:00
13,Philips,mphilips12@shaw.ca,8210 111 ST NW,2013-05-11 00:00:00
14,Peterson,jenniferp@rogers.ca,700 W Pender Street,2012-12-15 00:00:00
15,Harris,fharris@google.com,1600 Amphitheatre Parkway,2013-07-04 00:00:00
16,Smith,jacksmith@microsoft.com,1 Microsoft Way,2012-07-31 00:00:00
17,Brooks,michelleb@aol.com,627 Broadway,2013-10-08 00:00:00
18,Goyer,tgoyer@apple.com,1 Infinite Loop,2012-09-13 00:00:00
19,Miller,dmiller@comcast.com,541 Del Medio Avenue,2013-11-21 00:00:00
20,Chase,kachase@hotmail.com,801 W 4th Street,2013-12-04 00:00:00
21,Leacock,hleacock@gmail.com,120 S Orange Ave,2013-07-07 00:00:00
22,Gordon,johngordon22@yahoo.com,69 Salem Street,2013-12-04 00:00:00
23,Ralston,fralston@gmail.com,162 E Superior Street,2013-08-20 00:00:00
24,Stevens,vstevens@yahoo.com,319 N. Frances Street,2013-12-05 00:00:00
25,Cunningham,ricunningham@hotmail.com,2211 W Berry Street,2013-04-05 00:00:00
26,Gray,patrick.gray@aol.com,1033 N Park Ave,2013-10-13 00:00:00
27,Barnett,jubarnett@gmail.com,302 S 700 E,2013-05-19 00:00:00
28,Brown,robbrown@shaw.ca,796 Dundas Street West,2013-12-06 00:00:00
29,Francis,edfrancis@yachoo.ca,230 Elgin Street,2013-01-02 00:00:00
30,Silk,marthasilk@gmail.com,194A Chain Lake Drive,2013-07-12 00:00:00
31,Mitchell,aaronmitchell@yahoo.ca,696 Osborne Street,2013-02-15 00:00:00
32,Sullivan,ellie.sullivan@shaw.ca,5112 48 Street,2013-09-04 00:00:00
33,Fernandes,jfernandes@yahoo.pt,Rua da Assunção 53,2012-10-01 00:00:00
34,Sampaio,masampaio@sapo.pt,"Rua dos Campeões Europeus de Viena, 4350",2013-12-09 00:00:00
35,Schneider,hannah.schneider@yahoo.de,Tauentzienstraße 8,2012-11-14 00:00:00
36,Zimmermann,fzimmermann@yahoo.de,Berger Straße 10,2013-06-03 00:00:00
37,Schröder,nschroder@surfeu.de,Barbarossastraße 19,2012-06-30 00:00:00
38,Bernard,camille.bernard@yahoo.fr,"4, Rue Milton",2013-09-07 00:00:00
39,Lefebvre,dominiquelefebvre@gmail.com,"8, Rue Hanovre",2012-08-13 00:00:00
40,Dubois,marc.dubois@hotmail.com,"11, Place Bellecour",2013-10-21 00:00:00
41,Girard,wyatt.girard@yahoo.fr,"9, Place Louis Barthou",2013-11-03 00:00:00
42,Mercier,isabelle_mercier@apple.fr,"68, Rue Jouvence",2013-06-06 00:00:00
43,Hämäläinen,terhi.hamalainen@apple.fi,Porthaninkatu 9,2013-12-14 00:00:00
44,Kovács,ladislav_kovacs@apple.hu,Erzsébet krt. 58.,2013-07-20 00:00:00
45,O'Reilly,hughoreilly@apple.ie,3 Chatham Street,2013-11-04 00:00:00
46,Mancini,lucas.mancini@yahoo.it,"Via Degli Scipioni, 43",2013-03-05 00:00:00
47,Van der Berg,johavanderberg@yahoo.nl,Lijnbaansgracht 120bg,2013-09-12 00:00:00
48,Wójcik,stanisław.wójcik@wp.pl,Ordynacka 10,2013-04-18 00:00:00
49,Muñoz,enrique_munoz@yahoo.es,C/ San Bernardo 85,2013-11-05 00:00:00
50,Johansson,joakim.johansson@yahoo.se,Celsiusg. 9,2012-12-02 00:00:00
51,Jones,emma_jones@hotmail.com,202 Hoxton Street,2013-06-11 00:00:00
52,Hughes,phil.hughes@gmail.com,113 Lupus St,2013-01-15 00:00:00
53,Murray,steve.murray@yahoo.uk,110 Raeburn Pl,2013-08-04 00:00:00
54,Taylor,mark.taylor@yahoo.au,421 Bourke Street,2012-08-31 00:00:00
55,Gutiérrez,diego.gutierrez@yahoo.ar,307 Macacha Güemes,2013-11-08 00:00:00
56,Rojas,luisrojas@yahoo.cl,"Calle Lira, 198",2012-10-14 00:00:00
57,Pareek,manoj.pareek@rediff.com,"12,Community Centre",2013-12-22 00:00:00
58,Srivastava,puja_srivastava@yahoo.in,"3,Raj Bhavan Road",2012-05-30 00:00:00

In [42]:
pd.read_sql(
"""

    WITH recent AS (
        SELECT CustomerId, BillingAddress, max(InvoiceDate) as most_recent_invoice
        FROM Invoice
        GROUP BY CustomerId)
        
    SELECT Customer.LastName, Customer.Email, recent.BillingAddress, recent.most_recent_invoice
    FROM recent
        JOIN Customer ON recent.CustomerID = Customer.CustomerID
        
    GROUP BY recent.CustomerID
    
""", conn
)

,LastName,Email,BillingAddress,most_recent_invoice
0,Gonçalves,luisg@embraer.com.br,"Av. Brigadeiro Faria Lima, 2170",2013-08-07 00:00:00
1,Köhler,leonekohler@surfeu.de,Theodor-Heuss-Straße 34,2012-07-13 00:00:00
2,Tremblay,ftremblay@gmail.com,1498 rue Bélanger,2013-09-20 00:00:00
3,Hansen,bjorn.hansen@yahoo.no,Ullevålsveien 14,2013-10-03 00:00:00
4,Wichterlová,frantisekw@jetbrains.com,Klanova 9/506,2013-05-06 00:00:00
5,Holý,hholy@gmail.com,Rilská 3174/6,2013-11-13 00:00:00
6,Gruber,astrid.gruber@apple.at,"Rotenturmstraße 4, 1010 Innere Stadt",2013-06-19 00:00:00
7,Peeters,daan_peeters@apple.be,Grétrystraat 63,2013-10-04 00:00:00
8,Nielsen,kara.nielsen@jubii.dk,Sønder Boulevard 51,2013-02-02 00:00:00
9,Martins,eduardo@woodstock.com.br,"Rua Dr. Falcão Filho, 155",2013-08-12 00:00:00
10,Rocha,alero@uol.com.br,"Av. Paulista, 2022",2013-03-18 00:00:00
11,Almeida,roberto.almeida@riotur.gov.br,"Praça Pio X, 119",2013-10-05 00:00:00
12,Ramos,fernadaramos4@uol.com.br,Qe 7 Bloco G,2012-11-01 00:00:00
13,Philips,mphilips12@shaw.ca,8210 111 ST NW,2013-05-11 00:00:00
14,Peterson,jenniferp@rogers.ca,700 W Pender Street,2012-12-15 00:00:00
15,Harris,fharris@google.com,1600 Amphitheatre Parkway,2013-07-04 00:00:00
16,Smith,jacksmith@microsoft.com,1 Microsoft Way,2012-07-31 00:00:00
17,Brooks,michelleb@aol.com,627 Broadway,2013-10-08 00:00:00
18,Goyer,tgoyer@apple.com,1 Infinite Loop,2012-09-13 00:00:00
19,Miller,dmiller@comcast.com,541 Del Medio Avenue,2013-11-21 00:00:00
20,Chase,kachase@hotmail.com,801 W 4th Street,2013-12-04 00:00:00
21,Leacock,hleacock@gmail.com,120 S Orange Ave,2013-07-07 00:00:00
22,Gordon,johngordon22@yahoo.com,69 Salem Street,2013-12-04 00:00:00
23,Ralston,fralston@gmail.com,162 E Superior Street,2013-08-20 00:00:00
24,Stevens,vstevens@yahoo.com,319 N. Frances Street,2013-12-05 00:00:00
25,Cunningham,ricunningham@hotmail.com,2211 W Berry Street,2013-04-05 00:00:00
26,Gray,patrick.gray@aol.com,1033 N Park Ave,2013-10-13 00:00:00
27,Barnett,jubarnett@gmail.com,302 S 700 E,2013-05-19 00:00:00
28,Brown,robbrown@shaw.ca,796 Dundas Street West,2013-12-06 00:00:00
29,Francis,edfrancis@yachoo.ca,230 Elgin Street,2013-01-02 00:00:00
30,Silk,marthasilk@gmail.com,194A Chain Lake Drive,2013-07-12 00:00:00
31,Mitchell,aaronmitchell@yahoo.ca,696 Osborne Street,2013-02-15 00:00:00
32,Sullivan,ellie.sullivan@shaw.ca,5112 48 Street,2013-09-04 00:00:00
33,Fernandes,jfernandes@yahoo.pt,Rua da Assunção 53,2012-10-01 00:00:00
34,Sampaio,masampaio@sapo.pt,"Rua dos Campeões Europeus de Viena, 4350",2013-12-09 00:00:00
35,Schneider,hannah.schneider@yahoo.de,Tauentzienstraße 8,2012-11-14 00:00:00
36,Zimmermann,fzimmermann@yahoo.de,Berger Straße 10,2013-06-03 00:00:00
37,Schröder,nschroder@surfeu.de,Barbarossastraße 19,2012-06-30 00:00:00
38,Bernard,camille.bernard@yahoo.fr,"4, Rue Milton",2013-09-07 00:00:00
39,Lefebvre,dominiquelefebvre@gmail.com,"8, Rue Hanovre",2012-08-13 00:00:00
40,Dubois,marc.dubois@hotmail.com,"11, Place Bellecour",2013-10-21 00:00:00
41,Girard,wyatt.girard@yahoo.fr,"9, Place Louis Barthou",2013-11-03 00:00:00
42,Mercier,isabelle_mercier@apple.fr,"68, Rue Jouvence",2013-06-06 00:00:00
43,Hämäläinen,terhi.hamalainen@apple.fi,Porthaninkatu 9,2013-12-14 00:00:00
44,Kovács,ladislav_kovacs@apple.hu,Erzsébet krt. 58.,2013-07-20 00:00:00
45,O'Reilly,hughoreilly@apple.ie,3 Chatham Street,2013-11-04 00:00:00
46,Mancini,lucas.mancini@yahoo.it,"Via Degli Scipioni, 43",2013-03-05 00:00:00
47,Van der Berg,johavanderberg@yahoo.nl,Lijnbaansgracht 120bg,2013-09-12 00:00:00
48,Wójcik,stanisław.wójcik@wp.pl,Ordynacka 10,2013-04-18 00:00:00
49,Muñoz,enrique_munoz@yahoo.es,C/ San Bernardo 85,2013-11-05 00:00:00
50,Johansson,joakim.johansson@yahoo.se,Celsiusg. 9,2012-12-02 00:00:00
51,Jones,emma_jones@hotmail.com,202 Hoxton Street,2013-06-11 00:00:00
52,Hughes,phil.hughes@gmail.com,113 Lupus St,2013-01-15 00:00:00
53,Murray,steve.murray@yahoo.uk,110 Raeburn Pl,2013-08-04 00:00:00
54,Taylor,mark.taylor@yahoo.au,421 Bourke Street,2012-08-31 00:00:00
55,Gutiérrez,diego.gutierrez@yahoo.ar,307 Macacha Güemes,2013-11-08 00:00:00
56,Rojas,luisrojas@yahoo.cl,"Calle Lira, 198",2012-10-14 00:00:00
57,Pareek,manoj.pareek@rediff.com,"12,Community Centre",2013-12-22 00:00:00
58,Srivastava,puja_srivastava@yahoo.in,"3,Raj Bhavan Road",2012-05-30 00:00:00

## Part 2: Bayesian Statistics

$$ P(A|B) = \dfrac{P(B|A)P(A)}{P(B)}$$

### The Prompt: 
> In the second session of the 98th congress in 1984, a congressman voted 'No' on providing aid to El Salvador. 
> 
> Given that 60% of the congress were Democrats, 75% of whom voted 'No' for providing aid to El Salvador, and only 5% of Republicans voted 'No' to the proposal, what is the conditional probability that this individual is a Democrat?

### Task 5: Calculate the probability

In [ ]:
# 
Prob = (.75 * .6) / (.75*.6+.05*.4)
Prob

**1. Which probability are we trying to find?**

   - Probability of an individual is Democrat given that the person voted No to the proposal

**2. Based on that, what other pieces do we need?**

   -

**3. Result?**

   - 96%

## Part 3: Normal Distributions

In this part, you will analyze hours of sleep for Freshman at a University. We know that the population distribution of hours of sleep for Freshman at the University is normally distributed with a mean of 6 and a standard deviation of 2.

### Task 6: Create a numeric variable `z_eight` that contains the z-score for a Freshman that sleeps 8 hours

In [ ]:
# Code here
z_eight = (8 - 6) / 2
z_eight

### Task 7: Create a numeric variable `over_eight` containing the approximate proportion of Freshman who get more than 8 hours of sleep

In [ ]:
# Code here
import scipy.stats as stats
over_eight = 1 - stats.norm.cdf(z_eight)
over_eight

### Task 8: Calculate a 95% confidence interval for the amount of sleep for one Freshman who sleeps 7 times with a mean of 5 hours and a standard deviation of 0.5 hours

In [ ]:
# Code here
import scipy.stats as stats

stats.t.interval(alpha = .95,
                 loc = 5,
                 scale = 0.5 / (7 ** .5),
                 df = 7-1)

### Task 9: Interpret the 95% Confidence Interval that you derived in the above question

Interpret: 

- There is 95% chance that true pop falls between X and Y
- We are 95% confident that true pop mean of freshman sleep falls between 4.53 and 5.46

- A 95% confidence interval means that there is a 95% chance for the interval to contain the true population mean. In this case, that means there is a 95% chance that the true mean of the distribution of hours of sleep likely for this Freshman is between 4.9 and 5.04 hours.

## Part 4: Statistical Testing

Let's make some hypotheses about cars!

### Task 10: Set Up

In [ ]:
# Imports - need pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Import the auto-mpg csv from the data folder
df = pd.read_csv('data/auto-mpg.csv')

In [ ]:
# Check the head of our data
df.head()

In [ ]:
# Check the info on our data
df.info()

In [ ]:
# Describe the data
df.describe()

In [ ]:
# Run this cell without changes to set up for the next set of questions

# Grabbing the median car weight
weight_median = df['weight'].median()

# Separating based on light cars and heavy cars
heavy_cars = df.loc[df['weight'] > weight_median].sample(n=100, random_state=42)
light_cars = df.loc[df['weight'] <= weight_median].sample(n=100, random_state=42)

# Plotting histograms for acceleration for both light and heavy cars
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

ax1.set_title('Sample of Heavy Cars')
ax1.set_xlabel('Acceleration')
ax1.set_ylabel('Frequency')
ax1.hist(heavy_cars['acceleration'], bins=12)

ax2.set_title('Sample of Light Cars')
ax2.set_xlabel('Acceleration')
ax2.set_ylabel('Frequency')
ax2.hist(light_cars['acceleration'], bins=12)
plt.show()

### The Prompt: 

> Car manufacturers want to know if light cars accelerate faster than heavy cars.

### Task 11: Set up the null and alternative hypotheses for this test

**Null hypothesis:**

- Light cars accelerate slower or equal to the heavy cars


**Alternative hypothesis:**

- Light cars accerlerate faster than heavy cars

### Task 12: Describe your Type 1 and Type 2 errors in this context

**Type I Error:**

- We conclude that light cars acclerate faster than heavy cars when light cars accerlerate slower or equal to the heavy cars


**Type II Error:**

- We conclude that light cars accerlerate slower or equal to the heavy cars when light cars accerlerate faster than heavy cars

### Task 13: The Hypothesis Test!

### 13a: Describe the type of test:

Description:

- Two sample T-test

### 13b: Run the test, using alpha = .05 and assuming that the samples have equal variance

In [ ]:
# Code here
stats.ttest_ind(heavy_cars['acceleration'], light_cars['acceleration'], equal_var=True, alternative='two-sided')

### 13c: Analyze your results: can you reject the null hypothesis?

Can you reject the null hypothesis?

- Yes. P-value is less than Alpha of .05